<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon espace</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li class=" nav-star"><i class="fa fa-star" style="font-size:24px"></i></li>
                <li><a href="">Accueil</a></li>
                <li><a href="todo">Mes lectures</a></li>
                <li><a href="myspace">Mon espace</a></li>
                <li><a href="auth">Authentification</a></li>
                <li><a href="create">Création de compte</a></li>
                <li class=" nav-star"><i class="fa fa-star" style="font-size:24px"></i></li>
            </ul>
        </nav>
    </header>
    <div class="content-page">
        <div class="text">
            <h1>Mon espace</h1>
        </div>
    </div>
    <footer>
        <p>Existence future</p>
        <i class="fa fa-moon-o" style="font-size:24px"></i>
    </footer>
</body>
</html>
