body {
    font-family: system-ui;
    color: rgb(84,43,136);
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(189, 142, 249);
    color: rgb(84,43,136);
  }

.nav {
    gap: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(189, 142, 249);
    height: 35px;
}

li {
    display: inline;
}
li :hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
  }

.nav-star :hover {
    text-decoration: none;
}

.content-page {
    background-color: rgb(230, 216, 249);
    height: calc(100vh - (50px + 30px));
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 125px;
}

.informations {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 50px;
    justify-content: space-evenly;
}

.pdp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.informations-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 90px;
}

.infos-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}


.infos-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.buttons-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 80px;
}

.delete-button {
    height: 30px;
    width: 165px;
    border-radius: 7px;
    background-color: rgb(169, 70, 70);
    cursor: pointer;
    border: solid rgb(169, 70, 70);
    color: rgb(59 28 28);
}

.update-button {
    height: 30px;
    width: 165px;
    border-radius: 7px;
    background-color: rgb(73, 131, 73);
    cursor: pointer;
    border: solid rgb(73, 131, 73);
    color: rgb(28 53 28)
}

footer {
    background-color: rgb(189, 142, 249);
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
    color: rgb(84,43,136);
}