<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes lectures</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li class="nav-star"><i class="fa fa-star" style="font-size:24px"></i></li>
                <li><a href="">Accueil</a></li>
                <li><a href="todo">Mes lectures</a></li>
                <li><a href="myspace">Mon espace</a></li>
                <li><a href="auth">Authentification</a></li>
                <li><a href="create">Création de compte</a></li>
                <li class=" nav-star"><i class="fa fa-star" style="font-size:24px"></i></li>
            </ul>
        </nav>
    </header>
    <div class="content-page">
        <div class="text">
            <h1>Ma liste de lecture</h1>
            <h2>Ajouter un titre à la liste</h2>
            <div class="add-container">
                <form class="add-forms" (submit)="createReading(title.value, author.value,read.checked, description.value)">
                    <div>
                        <label for="title">Titre &nbsp;</label>
                        <input type="text" name="title" #title required>
                    </div>
                    <div>
                        <label for="author">Auteur &nbsp;</label>
                        <input type="text" name="author" #author required>
                    </div>
                    <div>
                        <label for="description">Description &nbsp;</label>
                        <input type="text" name="description" #description required>
                    </div>
                    <div>
                        <label for="read">Lu &nbsp;</label>
                        <input type="checkbox" name="read" #read [ngModel]="false" (ngModelChange)="read = $event">
                    </div>
                    <button type="submit" class="add-button">Enregistrer</button>
                </form>
              </div>
        </div>
        <hr class="divider">
        <div class="content-list">
            <ul class="todos">
              <li *ngFor="let reading of readings" class="todo">
                <p class="title-author">{{ reading.title }} - {{ reading.author }}</p>
                <p class="description">{{reading.description}}</p>
                <p class="status">{{ reading.read ? 'Lu' : 'Non lu' }}</p>
                <div class="action-button-container">
                    <button type="button" (click)="updateReadingStatus(reading)" class="update-button">Modifier</button>
                    <button type="button" (click)="deleteReading(reading.id)" class="delete-button">Supprimer</button>
                </div>
              </li>
            </ul>
          </div>
    </div>
    <footer>
        <p>Existence future</p>
        <i class="fa fa-moon-o" style="font-size:24px"></i>
    </footer>
</body>
</html>
