body {
    font-family: system-ui;
    color: rgb(84,43,136);
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: rgb(189, 142, 249);
    color: rgb(84,43,136);
  }

  button {
    all: unset;
  }

.navbar {
    gap: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(189, 142, 249);
    height: 35px;
}

.add-button {
    border-radius: 5px;
    background-color: rgb(70 0 159 / 77%);
    color: rgb(207 207 207);
    font-weight: 500;
    padding: 3px;
    cursor: pointer;
}

.divider {
    border: none;
    border-top: 1px solid rgb(70 0 159);
    width: 520px;
    margin-bottom: 60px;
    margin-top: 50px;
}

li {
    display: inline;
}

li :hover {
    text-decoration: underline;
}

.todos {
    margin-right: 40px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.todo {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: rgb(189, 142, 249);
    opacity: 50%;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    padding-left: 5px;
    color: rgb(51, 25, 84);
    font-weight: bold;
}

.title-author {
    width: 300px;
}

.description {
    width: 300px;
}

.status {
    width: 100px;
}
.action-button-container {
    width: 211px;
}

.update-button{
    border-radius: 5px;
    margin-right: 54px;
    background-color: rgb(70 0 159 / 77%);
    color: rgb(207 207 207);
    font-weight: 500;
    padding-right: 3px;
    padding-left: 3px;
    cursor: pointer;
}

.delete-button{
    border-radius: 5px;
    background-color: rgb(70 0 159 / 77%);
    color: rgb(207 207 207);
    font-weight: 500;
    padding-right: 3px;
    padding-left: 3px;
    cursor: pointer;
}

a {
    text-decoration: none;
  }

.nav-star :hover {
    text-decoration: none;
}

.content-page {
    background-color: rgb(230, 216, 249);
    height: calc(100vh - (50px + 30px));
    width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}


.add-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.add-forms {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

input:focus {
    outline: none;
}

footer {
    background-color: rgb(189, 142, 249);
    color: white;
    padding: 20px;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
    color: rgb(84,43,136);
}